<aside>
    <div class="contenedor">
        <div>
            <h2>SEGURIDAD</h2>
        </div>
        <div class="divBtns">
            <button id="btnUsuarios" class="btnsBarra">usuarios</button>
            <button id="btnRoles" class="btnsBarra">roles</button>            
            <button id="btnPermisos" class="btnsBarra">permisos</button>
            <!-- <button id="btnEliminar" class="btnsBarra">eliminar</button> -->
        </div>

    </div>
    
    <div class="divBtns">
        <button id="bntVolver" class="btnsBarraAbajo">inicio</button>
    </div>
</aside>