body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #636B76;
}
button{
    width: 200px;
    height: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
     max-width: 400px; margin: 50px auto; text-align: center; 

    }
.form-group { margin-bottom: 15px; }

#successMessage {
    margin-top: 20px;
    background-color: green;
}

.message {
    color: rgb(146, 228, 146);
    display: none;    
}

#errorMessage{
    margin-top: 20px;
    background-color: red;
}

.error {
    color: rgb(255, 177, 177);
    display: none;
}

#successMessageLinkVolver{            
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(34, 100, 158);            
    width: 200px;
    height: 50px;     
    border-radius: 5px;                
}
#successMessageLinkVolver:hover{
    cursor: pointer;
}
a{
    color: aliceblue;
}