body{
    background-color: #adbcc7;    
    color: #1d2124;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, Verdana, sans-serif;    
}

#itemSeleccion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    padding: 10px;
}
#itemSeleccion * {
    margin: 2px;
}
#cantidadInput {
    width: 25px;
    text-align: center;
}




#compraRopaDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usadoRopaDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#divTablaEnviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.imgTacho {
    width: 25px;       
}

/* ---------------------------------------------- */

#tablaEnviarCompra{
    width: 40%;
    table-layout: fixed; /* Asegura que las celdas tengan un ancho fijo */
    margin-bottom: 30px;
}

th{
    background-color: #636B76;      
}
#thPrenda{
    width: 20%;
}
#thTalle{
    width: 7%;
}
#thCantidad{
    width: 10%;
}
#thTacho{
    width: 3%;
}
td{
    border-top: 1px solid black;
}


#salir{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 20px; 
}