
body{
    display: flex;  
    margin: 0;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color:#adbcc7;        

    color: rgb(0, 0, 0);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: sans-serif;
}
#contenedor {
    width: 80%;    
    display: flex;
    flex-direction: column;
    align-items: center;    
    
}
