<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asociados por Cuil</title>
</head>
<body>
    <!-- -------------------- TABLA RESULTADO BUSQUEDA POR APELLIDO--------------------  -->
   <table>
    <thead>
       <tr>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>CUIL</th>
       </tr>
    </thead>

    <tbody th:each="asociado : ${asociados}">    
       <tr>
          <td th:text="${asociado.apellido}"></td>
          <td th:text="${asociado.nombre}"></td>
          <td th:text="${asociado.cuil}"></td>
       </tr>
    </tbody>

 </table>
    
</body>
</html>