

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Luiquidación</title>

    <link rel="icon" type="image/png" th:href="@{/img/iconos/favicon.png}">

    <link rel="stylesheet" href="/css/barraLateral.css">
    <link rel="stylesheet" href="/css/anticipos.css">
    <link rel="stylesheet" href="/css/botones.css">
    
</head>
<body>
    <!-- Barra lateral -->
  <aside th:replace="componentes/barraLateral :: aside"></aside>

    <!-- Contenido principal -->
    <div class="content">
        <h1>Eliminar Liquidación</h1>        
    </div>




    <script src="/script/barraLateral.js"></script>
</body>
</html>
