

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir Recibos</title>

    <link rel="icon" type="image/png" th:href="@{/img/iconos/favicon.png}">

    <link rel="stylesheet" href="/css/barraLateral.css">
    <link rel="stylesheet" href="/css/anticipos.css">
    <link rel="stylesheet" href="/css/botones.css">
    <link rel="stylesheet" href="/css/navBar.css">


    
</head>
<body>
    <!-- Barra lateral -->
  <aside th:replace="componentes/barraLateral :: aside"></aside>

    <!-- Contenido principal -->
    <div class="content">
        <nav th:replace="componentes/navBar :: nav"></nav>
        <h1>Imprimir Recibos</h1>        
        <a href="/imprimirRecibos/menuTodos">todos los recibos</a>
        <a href="/imprimirRecibos/porObjetivo">por objetivo</a>        
        <a href="/imprimirRecibos/vistaCubreFranco">cubre franco</a>                
        <a href="/imprimirRecibos/vistaUnoSolo">individual</a>                
        
    </div>


    <script src="/script/barraLateral.js"></script>
</body>
</html>
