<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Movimiento Uniforme</title>

   <link rel="stylesheet" href="/css/ropamovimiento.css">   
   <link rel="stylesheet" href="/css/botones.css">

</head>

<body>

   <div id="contenedor">

      <h1 id="titulo">ENTREGA de uniformes</h1>

      <h2 id="titulo2">ropa asignada a </span> </h1>
         <span id="nombreAsociado"></span>
         
         
         

      <table id="tablaUnifEntreg">
         <thead>
            <tr>
               <th id="thPrenda">PRENDA</th>
               <th id="thCantidad">CANTIDAD</th>
               <!-- <th id="idTalle">TALLE</th> -->
            </tr>
         </thead>

            <!-- recibo desde el backend la variable prendas con la ropa que tiene el asociado y la muestra en la tabla
            si no tiene, muestra el mensaje del div mas abajo -->
         <div th:if="${prendas}!=null">
            <tbody th:each="prenda : ${prendas}">
               <tr>
                  <td th:text="${prenda.prenda}"></td>
                  <td th:text="${prenda.cantidad}"></td>
                  <!-- <td th:text="${prenda.talle}"></td> -->
               </tr>
            </tbody>
         </div>
      </table>

      <div th:if="${#vars.prendas == null}">
         <p th:text="${sinAsignar}"></p>
      </div>

      

      <div id="asignarItemsDiv">
         <input hidden th:value="${idAsoc}" name="idAsoc" id="hiddenID">
         <input hidden th:value="${cuil}" name="cuil" id="hiddenCUIL">
         
         <h2>asignar nuevas prendas</h2> <!-- tengo que esconde y luego mostrar junto con la tabla -->
         <div id="itemSeleccion">
            
            <select name="" id="prendaSelect">
               <option value="" selected disabled>Seleccione una prenda</option>
            </select>
            <select name="" id="talleSelect">
               <option value="" selected disabled>Seleccione un talle</option>
            </select>
            <p id="stockParrafo"></p>
            <input type="text" id="cantidadInput">
            <button type="button" id="agregarItem">agregar</button>
         </div>

         <div id="divTablaEnviar">
            <h2>Lista de prendas a asignar</h2> <!-- tengo que esconde y luego mostrar junto con la tabla -->
            <table id="tablaEnviar">
               <thead>
                  <tr>
                     <th id="tablaEnviarThPrenda">PRENDA</th>
                     <th id="tablaEnviarThTalle">TALLE</th>
                     <th id="tablaEnviarThCantidad">CANTIDAD</th>
                     <th></th>
                  </tr>
               </thead> 
   
               <tbody>
               </tbody>                                
            </table>
   
            <div>
               <button id="enviarLista">enviar</button>
            </div>  
                        
         </div>
      </div>

      <!--      con este boton se habilita el Div con su propio boton de   "agregar item" -->
      <button class="botonLargo" type="button" id="mostrarForm">agregar item</button>

      

      <div>
         <button id="volverVistaAnterior">salir</button>
      </div>      
      

   </div>
   
   
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
   <script src="/script/ropaMovimiento.js"></script>
</body>

</html>